.contain {
  background: url("https://github.com/danaleko/Login-Form-By-Dan-Aleko/blob/main/bg.jpg?raw=true")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  /* margin-right: 180px; */
  width: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.createbtn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.createbtn:hover{
  background-color: rgb(21, 115, 71);
  color: white;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

.img-main {
  margin-top: -819px;
  left: 200px;
  height: 100px;
  width: 200px;
}
.table-container {
  width: 100%;
}

.transparent-table {
  width: auto;
  border-collapse: collapse;
  background-color: transparent;
}

.transparent-table th,
.transparent-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.transparent-table th {
  background-color: #f2f2f2;
  color: #333;
}


.title{
  margin-top: -600px;
  margin-left: -400px;
  color: white;
  font-weight: bolder;
  font-size: 70px;
  background: 
  linear-gradient(90deg,green,black,aqua,lightgreen);
color: transparent;
background-clip: text;
}